#cluster-map {
    width: 100%;
    height: 34rem;
}

#map {
    width: 100%;
    height: 300px;
}

#edit-btn{
    background-color: rgb(108, 231, 255);
    color: white;
    border: 0;
    width: 6rem;
    
}
#delete-btn{
    border: 0;
    margin-left: 1.2rem;
    width: 6rem;
}

@media screen and (max-width:577px){
    #cluster-map{
        height:12.4rem;
    }
    #camp{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #camp #card{
        width: 100vw;
    }
    #camp #review{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    #star{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #made-review{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}